/*
 * MDBootstrap Animations Extended
 * Learn more: https://mdbootstrap.com/docs/jquery/css/animations/
 * About MDBootstrap: https://mdbootstrap.com/
 */
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
@ -webkit-keyframes bounce {

	from,
	20%,
	53%,
	80%,
	to {
		transform: translate3d(0,
				0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	40%,
	43% {
		transform:

			translate3d (0,
				-30 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);


		animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);

	}

	70% {
		transform:

			translate3d (0,
				-15 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);


		animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);

	}

	90% {
		transform:

			translate3d (0,
				-4 px,
				0);
	}
}

@ keyframes bounce {

	from,
	20%,
	53%,
	80%,
	to {
		transform: translate3d(0, 0,
				0);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	40%,
	43% {
		transform:

			translate3d (0,
				-30 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);


		animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);

	}

	70% {
		transform:

			translate3d (0,
				-15 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);


		animation-timing-function:

			cubic-bezier (0 .755,
				0 .05,
				0 .855,
				0 .06);

	}

	90% {
		transform:

			translate3d (0,
				-4 px,
				0);
	}
}

.bounce {
	transform-origin: center bottom;
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

@ -webkit-keyframes flash {

	from,
	50%,
	to {
		opacity: 1;

	}

	25%,
	75% {
		opacity:

			0;
	}
}

@ keyframes flash {

	from,
	50%,
	to {
		opacity: 1;

	}

	25%,
	75% {
		opacity:

			0;
	}
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@ -webkit-keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);

	}

	50% {
		transform:

			scale3d (1 .05,
				1 .05,
				1 .05);

	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

@ keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);

	}

	50% {
		transform:

			scale3d (1 .05,
				1 .05,
				1 .05);

	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

@ -webkit-keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);

	}

	30% {
		transform:

			scale3d (1 .25,
				0 .75,
				1);
	}

	40% {
		transform:

			scale3d (0 .75,
				1 .25,
				1);
	}

	50% {
		transform:

			scale3d (1 .15,
				0 .85,
				1);
	}

	65% {
		transform:

			scale3d (0 .95,
				1 .05,
				1);
	}

	75% {
		transform:

			scale3d (1 .05,
				0 .95,
				1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

@ keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);

	}

	30% {
		transform:

			scale3d (1 .25,
				0 .75,
				1);
	}

	40% {
		transform:

			scale3d (0 .75,
				1 .25,
				1);
	}

	50% {
		transform:

			scale3d (1 .15,
				0 .85,
				1);
	}

	65% {
		transform:

			scale3d (0 .95,
				1 .05,
				1);
	}

	75% {
		transform:

			scale3d (1 .05,
				0 .95,
				1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}

@ -webkit-keyframes shake {

	from,
	to {
		transform: translate3d(0, 0, 0);

	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform:

			translate3d (-10px,
				0,
				0);
	}

	20%,
	40%,
	60%,
	80% {
		transform:

			translate3d (10px,
				0,
				0);
	}
}

@ keyframes shake {

	from,
	to {
		transform: translate3d(0, 0, 0);

	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform:

			translate3d (-10px,
				0,
				0);
	}

	20%,
	40%,
	60%,
	80% {
		transform:

			translate3d (10px,
				0,
				0);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}

@ -webkit-keyframes headShake {
	0% {
		transform: translateX(0);
	}

	6 .5 % {
		transform: translateX(-6px) rotateY(-9deg);
	}

	18 .5 % {
		transform: translateX(5px) rotateY(7deg);
	}

	31 .5 % {
		transform: translateX(-3px) rotateY(-5deg);
	}

	43 .5 % {
		transform: translateX(2px) rotateY(3deg);
	}

	50% {
		transform:

			translateX (0);

	}
}

@ keyframes headShake {
	0% {
		transform: translateX(0);
	}

	6 .5 % {
		transform: translateX(-6px) rotateY(-9deg);
	}

	18 .5 % {
		transform: translateX(5px) rotateY(7deg);
	}

	31 .5 % {
		transform: translateX(-3px) rotateY(-5deg);
	}

	43 .5 % {
		transform: translateX(2px) rotateY(3deg);
	}

	50% {
		transform:

			translateX (0);

	}
}

.headShake {
	-webkit-animation-name: headShake;
	animation-name: headShake;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@ -webkit-keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		transform:

			rotate3d (0,
				0,
				1,
				-10 deg);

	}

	60% {
		transform:

			rotate3d (0,
				0,
				1,
				5 deg);

	}

	80% {
		transform:

			rotate3d (0,
				0,
				1,
				-5 deg);

	}

	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}

}

@ keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		transform:

			rotate3d (0,
				0,
				1,
				-10 deg);

	}

	60% {
		transform:

			rotate3d (0,
				0,
				1,
				5 deg);

	}

	80% {
		transform:

			rotate3d (0,
				0,
				1,
				-5 deg);

	}

	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}

}

.swing {
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}

@ -webkit-keyframes tada {
	from {
		transform: scale3d(1, 1, 1);

	}

	10%,
	20% {
		transform:

			scale3d (0 .9,
				0 .9,
				0 .9) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	30%,
	50%,
	70%,
	90% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1) rotate3d (0,
				0,
				1,
				3 deg);

	}

	40%,
	60%,
	80% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

@ keyframes tada {
	from {
		transform: scale3d(1, 1, 1);

	}

	10%,
	20% {
		transform:

			scale3d (0 .9,
				0 .9,
				0 .9) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	30%,
	50%,
	70%,
	90% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1) rotate3d (0,
				0,
				1,
				3 deg);

	}

	40%,
	60%,
	80% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	to {
		transform: scale3d(1, 1, 1);
	}

}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@ -webkit-keyframes wobble {
	from {
		transform: translate3d(0, 0, 0);

	}

	15% {
		transform:

			translate3d (-25%,
				0,
				0) rotate3d (0,
				0,
				1,
				-5 deg);

	}

	30% {
		transform:

			translate3d (20%,
				0,
				0) rotate3d (0,
				0,
				1,
				3 deg);

	}

	45% {
		transform:

			translate3d (-15%,
				0,
				0) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	60% {
		transform:

			translate3d (10%,
				0,
				0) rotate3d (0,
				0,
				1,
				2 deg);

	}

	75% {
		transform:

			translate3d (-5%,
				0,
				0) rotate3d (0,
				0,
				1,
				-1 deg);

	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes wobble {
	from {
		transform: translate3d(0, 0, 0);

	}

	15% {
		transform:

			translate3d (-25%,
				0,
				0) rotate3d (0,
				0,
				1,
				-5 deg);

	}

	30% {
		transform:

			translate3d (20%,
				0,
				0) rotate3d (0,
				0,
				1,
				3 deg);

	}

	45% {
		transform:

			translate3d (-15%,
				0,
				0) rotate3d (0,
				0,
				1,
				-3 deg);

	}

	60% {
		transform:

			translate3d (10%,
				0,
				0) rotate3d (0,
				0,
				1,
				2 deg);

	}

	75% {
		transform:

			translate3d (-5%,
				0,
				0) rotate3d (0,
				0,
				1,
				-1 deg);

	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble;
}

@ -webkit-keyframes jello {

	from,
	11.1%,
	to {
		transform: translate3d(0, 0,
				0);

	}

	22 .2 % {
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	33 .3 % {
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	44 .4 % {
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	55 .5 % {
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	66 .6 % {
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}

	77 .7 % {
		transform: skewX(0.39062deg) skewY(0.39062deg);
	}

	88 .8 % {
		transform: skewX(-0.19531deg) skewY(-0.19531deg);
	}

}

@ keyframes jello {

	from,
	11.1%,
	to {
		transform: translate3d(0, 0, 0);

	}

	22 .2 % {
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}

	33 .3 % {
		transform: skewX(6.25deg) skewY(6.25deg);
	}

	44 .4 % {
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}

	55 .5 % {
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}

	66 .6 % {
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}

	77 .7 % {
		transform: skewX(0.39062deg) skewY(0.39062deg);
	}

	88 .8 % {
		transform: skewX(-0.19531deg) skewY(-0.19531deg);
	}

}

.jello {
	transform-origin: center;
	-webkit-animation-name: jello;
	animation-name: jello;
}

@ -webkit-keyframes heartBeat {
	0% {
		transform: scale(1);
	}

	14% {
		transform:

			scale (1 .3);

	}

	28% {
		transform:

			scale (1);

	}

	42% {
		transform:

			scale (1 .3);

	}

	70% {
		transform:

			scale (1);

	}
}

@ keyframes heartBeat {
	0% {
		transform: scale(1);
	}

	14% {
		transform:

			scale (1 .3);

	}

	28% {
		transform:

			scale (1);

	}

	42% {
		transform:

			scale (1 .3);

	}

	70% {
		transform:

			scale (1);

	}
}

.heartBeat {
	-webkit-animation-name: heartBeat;
	animation-name: heartBeat;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@ -webkit-keyframes bounceIn {

	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			scale3d (0 .3,
				0 .3,
				0 .3);

	}

	20% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1);

	}

	40% {
		transform:

			scale3d (0 .9,
				0 .9,
				0 .9);

	}

	60% {
		opacity:

			1;
		transform:

			scale3d (1 .03,
				1 .03,
				1 .03);

	}

	80% {
		transform:

			scale3d (0 .97,
				0 .97,
				0 .97);

	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

}

@ keyframes bounceIn {

	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			scale3d (0 .3,
				0 .3,
				0 .3);

	}

	20% {
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1);

	}

	40% {
		transform:

			scale3d (0 .9,
				0 .9,
				0 .9);

	}

	60% {
		opacity:

			1;
		transform:

			scale3d (1 .03,
				1 .03,
				1 .03);

	}

	80% {
		transform:

			scale3d (0 .97,
				0 .97,
				0 .97);

	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}

@ -webkit-keyframes bounceInDown {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			translate3d (0,
				-3000 px,
				0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (0,
				25 px,
				0);
	}

	75% {
		transform:

			translate3d (0,
				-10 px,
				0);
	}

	90% {
		transform:

			translate3d (0,
				5 px,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes bounceInDown {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			translate3d (0,
				-3000 px,
				0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (0,
				25 px,
				0);
	}

	75% {
		transform:

			translate3d (0,
				-10 px,
				0);
	}

	90% {
		transform:

			translate3d (0,
				5 px,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@ -webkit-keyframes bounceInLeft {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			translate3d (-3000px,
				0,
				0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (25px,
				0,
				0);
	}

	75% {
		transform:

			translate3d (-10px,
				0,
				0);
	}

	90% {
		transform:

			translate3d (5px,
				0,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes bounceInLeft {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity:

			0;
		transform:

			translate3d (-3000px,
				0,
				0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (25px,
				0,
				0);
	}

	75% {
		transform:

			translate3d (-10px,
				0,
				0);
	}

	90% {
		transform:

			translate3d (5px,
				0,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}

@ -webkit-keyframes bounceInRight {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (-25px,
				0,
				0);
	}

	75% {
		transform:

			translate3d (10px,
				0,
				0);
	}

	90% {
		transform:

			translate3d (-5px,
				0,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes bounceInRight {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (-25px,
				0,
				0);
	}

	75% {
		transform:

			translate3d (10px,
				0,
				0);
	}

	90% {
		transform:

			translate3d (-5px,
				0,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}

@ -webkit-keyframes bounceInUp {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (0,
				-20 px,
				0);
	}

	75% {
		transform:

			translate3d (0,
				10 px,
				0);
	}

	90% {
		transform:

			translate3d (0,
				-5 px,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes bounceInUp {

	from,
	60%,
	75%,
	90%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity:

			1;
		transform:

			translate3d (0,
				-20 px,
				0);
	}

	75% {
		transform:

			translate3d (0,
				10 px,
				0);
	}

	90% {
		transform:

			translate3d (0,
				-5 px,
				0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp;
}

@ -webkit-keyframes bounceOut {
	20% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	50%,
	55% {
		opacity:

			1;
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1);

	}

	to {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

}

@ keyframes bounceOut {
	20% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	50%,
	55% {
		opacity:

			1;
		transform:

			scale3d (1 .1,
				1 .1,
				1 .1);

	}

	to {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}

@ -webkit-keyframes bounceOutDown {
	20% {
		transform: translate3d(0, 10px, 0);
	}

	40%,
	45% {
		opacity:

			1;
		transform:

			translate3d (0,
				-20 px,
				0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

}

@ keyframes bounceOutDown {
	20% {
		transform: translate3d(0, 10px, 0);
	}

	40%,
	45% {
		opacity:

			1;
		transform:

			translate3d (0,
				-20 px,
				0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}

@ -webkit-keyframes bounceOutLeft {
	20% {
		opacity: 1;
		transform: translate3d(20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

}

@ keyframes bounceOutLeft {
	20% {
		opacity: 1;
		transform: translate3d(20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

}

.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}

@ -webkit-keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

}

@ keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

}

.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight;
}

@ -webkit-keyframes bounceOutUp {
	20% {
		transform: translate3d(0, -10px, 0);
	}

	40%,
	45% {
		opacity:

			1;
		transform:

			translate3d (0,
				20 px,
				0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

}

@ keyframes bounceOutUp {
	20% {
		transform: translate3d(0, -10px, 0);
	}

	40%,
	45% {
		opacity:

			1;
		transform:

			translate3d (0,
				20 px,
				0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp;
}

@ -webkit-keyframes fadeInDownBig {
	from {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes fadeInDownBig {
	from {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}

@ -webkit-keyframes fadeInLeftBig {
	from {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes fadeInLeftBig {
	from {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}

@ -webkit-keyframes fadeInRightBig {
	from {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes fadeInRightBig {
	from {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}

@ -webkit-keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}

@ -webkit-keyframes fadeOutDownBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

}

@ keyframes fadeOutDownBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}

}

.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
}

@ -webkit-keyframes fadeOutLeftBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

}

@ keyframes fadeOutLeftBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}

}

.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig;
}

@ -webkit-keyframes fadeOutRightBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

}

@ keyframes fadeOutRightBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}

}

.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig;
}

@ -webkit-keyframes fadeOutUpBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

}

@ keyframes fadeOutUpBig {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}

}

.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig;
}

@ -webkit-keyframes flip {
	from {
		transform: perspective(400px)scale3d(1, 1,
				1)translate3d(0, 0, 0)rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		transform:

			perspective (400px) scale3d (1,
				1,
				1) translate3d (0,
				0,
				150 px) rotate3d (0,
				1,
				0,
				-190 deg);


		-webkit-animation-timing-function:

			ease-out;


		animation-timing-function:

			ease-out;

	}

	50% {
		transform:

			perspective (400px) scale3d (1,
				1,
				1) translate3d (0,
				0,
				150 px) rotate3d (0,
				1,
				0,
				-170 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	80% {
		transform:

			perspective (400px) scale3d (0 .95,
				0 .95,
				0 .95) translate3d (0,
				0,
				0) rotate3d (0,
				1,
				0,
				0 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	to {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

}

@ keyframes flip {
	from {
		transform: perspective(400px)scale3d(1, 1, 1)translate3d(0,
				0, 0)rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	40% {
		transform:

			perspective (400px) scale3d (1,
				1,
				1) translate3d (0,
				0,
				150 px) rotate3d (0,
				1,
				0,
				-190 deg);


		-webkit-animation-timing-function:

			ease-out;


		animation-timing-function:

			ease-out;

	}

	50% {
		transform:

			perspective (400px) scale3d (1,
				1,
				1) translate3d (0,
				0,
				150 px) rotate3d (0,
				1,
				0,
				-170 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	80% {
		transform:

			perspective (400px) scale3d (0 .95,
				0 .95,
				0 .95) translate3d (0,
				0,
				0) rotate3d (0,
				1,
				0,
				0 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	to {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

}

.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip;
}

@ -webkit-keyframes flipInX {
	from {
		opacity: 0;
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	40% {
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-20 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	60% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				10 deg);

	}

	80% {
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-5 deg);

	}

	to {
		transform: perspective(400px);
	}

}

@ keyframes flipInX {
	from {
		opacity: 0;
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	40% {
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-20 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	60% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				10 deg);

	}

	80% {
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-5 deg);

	}

	to {
		transform: perspective(400px);
	}

}

.flipInX {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flipInX;
	animation-name: flipInX;
}

@ -webkit-keyframes flipInY {
	from {
		opacity: 0;
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	40% {
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-20 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	60% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				10 deg);

	}

	80% {
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-5 deg);

	}

	to {
		transform: perspective(400px);
	}

}

@ keyframes flipInY {
	from {
		opacity: 0;
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	40% {
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-20 deg);


		-webkit-animation-timing-function:

			ease-in;


		animation-timing-function:

			ease-in;

	}

	60% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				10 deg);

	}

	80% {
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-5 deg);

	}

	to {
		transform: perspective(400px);
	}

}

.flipInY {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
}

@ -webkit-keyframes flipOutX {
	from {
		transform: perspective(400px);

	}

	30% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-20 deg);

	}

	to {
		opacity: 0;
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	}

}

@ keyframes flipOutX {
	from {
		transform: perspective(400px);

	}

	30% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (1,
				0,
				0,
				-20 deg);

	}

	to {
		opacity: 0;
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
	}

}

.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

@ -webkit-keyframes flipOutY {
	from {
		transform: perspective(400px);

	}

	30% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-15 deg);

	}

	to {
		opacity: 0;
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}

}

@ keyframes flipOutY {
	from {
		transform: perspective(400px);

	}

	30% {
		opacity:

			1;
		transform:

			perspective (400px) rotate3d (0,
				1,
				0,
				-15 deg);

	}

	to {
		opacity: 0;
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
	}

}

.flipOutY {
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

@ -webkit-keyframes lightSpeedIn {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0) skewX(-30deg);
	}

	60% {
		opacity:

			1;
		transform:

			skewX (20deg);

	}

	80% {
		transform:

			skewX (-5deg);

	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes lightSpeedIn {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0) skewX(-30deg);
	}

	60% {
		opacity:

			1;
		transform:

			skewX (20deg);

	}

	80% {
		transform:

			skewX (-5deg);

	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

@ -webkit-keyframes lightSpeedOut {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0) skewX(30deg);
	}

}

@ keyframes lightSpeedOut {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0) skewX(30deg);
	}

}

.lightSpeedOut {
	-webkit-animation-name: lightSpeedOut;
	animation-name: lightSpeedOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
}

@ -webkit-keyframes rotateIn {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -200deg);
		transform-origin: center;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: center;
	}

}

@ keyframes rotateIn {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -200deg);
		transform-origin: center;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: center;
	}

}

.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
}

@ -webkit-keyframes rotateInDownLeft {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: left bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: left bottom;
	}

}

@ keyframes rotateInDownLeft {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: left bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: left bottom;
	}

}

.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}

@ -webkit-keyframes rotateInDownRight {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: right bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: right bottom;
	}

}

@ keyframes rotateInDownRight {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: right bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: right bottom;
	}

}

.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}

@ -webkit-keyframes rotateInUpLeft {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: left bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: left bottom;
	}

}

@ keyframes rotateInUpLeft {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: left bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: left bottom;
	}

}

.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}

@ -webkit-keyframes rotateInUpRight {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -90deg);
		transform-origin: right bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: right bottom;
	}

}

@ keyframes rotateInUpRight {
	from {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -90deg);
		transform-origin: right bottom;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transform-origin: right bottom;
	}

}

.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}

@ -webkit-keyframes rotateOut {
	from {
		opacity: 1;
		transform-origin: center;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 200deg);
		transform-origin: center;
	}

}

@ keyframes rotateOut {
	from {
		opacity: 1;
		transform-origin: center;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 200deg);
		transform-origin: center;
	}

}

.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut;
}

@ -webkit-keyframes rotateOutDownLeft {
	from {
		opacity: 1;
		transform-origin: left bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: left bottom;
	}

}

@ keyframes rotateOutDownLeft {
	from {
		opacity: 1;
		transform-origin: left bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 45deg);
		transform-origin: left bottom;
	}

}

.rotateOutDownLeft {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft;
}

@ -webkit-keyframes rotateOutDownRight {
	from {
		opacity: 1;
		transform-origin: right bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: right bottom;
	}

}

@ keyframes rotateOutDownRight {
	from {
		opacity: 1;
		transform-origin: right bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: right bottom;
	}

}

.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight;
}

@ -webkit-keyframes rotateOutUpLeft {
	from {
		opacity: 1;
		transform-origin: left bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: left bottom;
	}

}

@ keyframes rotateOutUpLeft {
	from {
		opacity: 1;
		transform-origin: left bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, -45deg);
		transform-origin: left bottom;
	}

}

.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft;
}

@ -webkit-keyframes rotateOutUpRight {
	from {
		opacity: 1;
		transform-origin: right bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 90deg);
		transform-origin: right bottom;
	}

}

@ keyframes rotateOutUpRight {
	from {
		opacity: 1;
		transform-origin: right bottom;
	}

	to {
		opacity: 0;
		transform: rotate3d(0, 0, 1, 90deg);
		transform-origin: right bottom;
	}

}

.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight;
}

@ -webkit-keyframes hinge {
	0% {
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%,
	60% {
		transform:

			rotate3d (0,
				0,
				1,
				80 deg);


		transform-origin:

			top left;


		-webkit-animation-timing-function:

			ease-in-out;


		animation-timing-function:

			ease-in-out;

	}

	40%,
	80% {
		opacity:

			1;
		transform:

			rotate3d (0,
				0,
				1,
				60 deg);


		transform-origin:

			top left;


		-webkit-animation-timing-function:

			ease-in-out;


		animation-timing-function:

			ease-in-out;

	}

	to {
		opacity: 0;
		transform: translate3d(0, 700px, 0);
	}

}

@ keyframes hinge {
	0% {
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%,
	60% {
		transform:

			rotate3d (0,
				0,
				1,
				80 deg);


		transform-origin:

			top left;


		-webkit-animation-timing-function:

			ease-in-out;


		animation-timing-function:

			ease-in-out;

	}

	40%,
	80% {
		opacity:

			1;
		transform:

			rotate3d (0,
				0,
				1,
				60 deg);


		transform-origin:

			top left;


		-webkit-animation-timing-function:

			ease-in-out;


		animation-timing-function:

			ease-in-out;

	}

	to {
		opacity: 0;
		transform: translate3d(0, 700px, 0);
	}

}

.hinge {
	-webkit-animation-name: hinge;
	animation-name: hinge;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

@ -webkit-keyframes jackInTheBox {
	from {
		opacity: 0;
		transform: scale(0.1) rotate(30deg);
		transform-origin: center bottom;
	}

	50% {
		transform:

			rotate (-10deg);

	}

	70% {
		transform:

			rotate (3deg);

	}

	to {
		opacity: 1;
		transform: scale(1);
	}

}

@ keyframes jackInTheBox {
	from {
		opacity: 0;
		transform: scale(0.1) rotate(30deg);
		transform-origin: center bottom;
	}

	50% {
		transform:

			rotate (-10deg);

	}

	70% {
		transform:

			rotate (3deg);

	}

	to {
		opacity: 1;
		transform: scale(1);
	}

}

.jackInTheBox {
	-webkit-animation-name: jackInTheBox;
	animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@ -webkit-keyframes rollIn {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes rollIn {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@ -webkit-keyframes rollOut {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}

}

@ keyframes rollOut {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}

}

.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}

@ -webkit-keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity:

			1;
	}
}

@ keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity:

			1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

@ -webkit-keyframes zoomInDown {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (0,
				60 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

@ keyframes zoomInDown {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (0,
				60 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
}

@ -webkit-keyframes zoomInLeft {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (10px,
				0,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

@ keyframes zoomInLeft {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (10px,
				0,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

.zoomInLeft {
	-webkit-animation-name: zoomInLeft;
	animation-name: zoomInLeft;
}

@ -webkit-keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (-10px,
				0,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

@ keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (-10px,
				0,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

.zoomInRight {
	-webkit-animation-name: zoomInRight;
	animation-name: zoomInRight;
}

@ -webkit-keyframes zoomInUp {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (0,
				-60 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

@ keyframes zoomInUp {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity:

			1;
		transform:

			scale3d (0 .475,
				0 .475,
				0 .475) translate3d (0,
				-60 px,
				0);
		-webkit-animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
		animation-timing-function:

			cubic-bezier (0 .175,
				0 .885,
				0 .32,
				1);
	}
}

.zoomInUp {
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp;
}

@ -webkit-keyframes zoomOut {
	from {
		opacity: 1;

	}

	50% {
		opacity:

			0;
		transform:

			scale3d (0 .3,
				0 .3,
				0 .3);

	}

	to {
		opacity: 0;
	}

}

@ keyframes zoomOut {
	from {
		opacity: 1;

	}

	50% {
		opacity:

			0;
		transform:

			scale3d (0 .3,
				0 .3,
				0 .3);

	}

	to {
		opacity: 0;
	}

}

.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
}

@ -webkit-keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}

}

@ keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}

}

.zoomOutDown {
	-webkit-animation-name: zoomOutDown;
	animation-name: zoomOutDown;
}

@ -webkit-keyframes zoomOutLeft {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(0.1) translate3d(-2000px, 0, 0);
		transform-origin: left center;
	}

}

@ keyframes zoomOutLeft {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(0.1) translate3d(-2000px, 0, 0);
		transform-origin: left center;
	}

}

.zoomOutLeft {
	-webkit-animation-name: zoomOutLeft;
	animation-name: zoomOutLeft;
}

@ -webkit-keyframes zoomOutRight {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(0.1) translate3d(2000px, 0, 0);
		transform-origin: right center;
	}

}

@ keyframes zoomOutRight {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
	}

	to {
		opacity: 0;
		transform: scale(0.1) translate3d(2000px, 0, 0);
		transform-origin: right center;
	}

}

.zoomOutRight {
	-webkit-animation-name: zoomOutRight;
	animation-name: zoomOutRight;
}

@ -webkit-keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}

}

@ keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}

}

.zoomOutUp {
	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp;
}

@ -webkit-keyframes slideInDown {
	from {
		visibility: visible;
		transform: translate3d(0, -100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes slideInDown {
	from {
		visibility: visible;
		transform: translate3d(0, -100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

@ -webkit-keyframes slideInLeft {
	from {
		visibility: visible;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes slideInLeft {
	from {
		visibility: visible;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@ -webkit-keyframes slideInRight {
	from {
		visibility: visible;
		transform: translate3d(100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes slideInRight {
	from {
		visibility: visible;
		transform: translate3d(100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

@ -webkit-keyframes slideInUp {
	from {
		visibility: visible;
		transform: translate3d(0, 100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

@ keyframes slideInUp {
	from {
		visibility: visible;
		transform: translate3d(0, 100%, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}

}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

@ -webkit-keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}

}

@ keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}

}

.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown;
}

@ -webkit-keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}

}

@ keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}

}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}

@ -webkit-keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}

}

@ keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}

}

.slideOutRight {
	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight;
}

@ -webkit-keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}

}

@ keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);

	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}

}

.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
}